[package]
name = "infrastructure"
version.workspace = true
edition.workspace = true

[dependencies]
sea-orm.workspace = true
redis.workspace = true
tokio.workspace = true
anyhow.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
